{% extends "base_generic.html" %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <style>
    .hidden {
        opacity : 0;
      }
    </style>

{% endblock %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="question" tabindex="-1" role="dialog" aria-labelledby="questionsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="post" id="delete_form" onsubmit="return confirmQuestion()">
            <input type="text" class="form-control hidden" name="question_id" id="question_id" value="0" required="false">
            <input type="text" class="form-control hidden" name="question_type" id="question_type" value="0" required="false">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="questionLabel">Remove Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <p id="question_body" ></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="item_details" tabindex="-1" role="dialog" aria-labelledby="item_detailsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="post" id="detail_form" onsubmit="return save()">
            <input type="text" class="form-control hidden" name="id" id="id" value="0" required="false">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="item_detailsLabel">New Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Item Name" id="item_name" name="item_name" required>
                            </div>
                        
                            <div class="col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addonphp">Php</span>
                                    </div>
                                    <input type="text" class="form-control input-selector" placeholder="Item Price" name="item_price" id="item_price" aria-label="Item-Name" aria-describedby="basic-addonphp" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                            <input type="text" class="form-control input-selector'" placeholder="Unit Per Item" id="unit_per_item" name="unit_per_item" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <br>
                                <label for="exampleFormControlFile1">Description</label>
                                <textarea class="form-control" id="description" rows="3" name="description"></textarea>
                            </div>
                        </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /.Modal -->

<div class="content-wrapper">
    <!-- Main content -->
    <div class="card-header">
        <h3 class="card-title">Item List</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-1">
                <a href="javascript:void(0)" class="btn btn-primary btn-block" onclick="toggleModal()" data-toggle="modal"><span class="fas fa-plus"></span> Add</a>
            </div>
            <div class="col-sm-11">
                <div class="float-right">
                    <a href="{% url 'inventory:exportItems' %}" target="_blank" class="btn btn-primary btn-block"><span class="fas fa-plus"></span> Export</a>
                </div>
            </div>
        </div>
        <br>
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12">
                    <table id="inventory_table" class="table table-bordered table-striped dataTable dtr-inline" aria-describedby="example1_info">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Item</th>
                                <th>Item Price</th>
                                <th>Unit Per Item</th>
                                <th>Unit Price</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>

        </div>
        <!-- /.content -->
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script>
    var table;
    var active_status = {}
    function toggleModal(){
        $('#item_details').modal({ //prevent modal from closing
            backdrop: 'static',
            keyboard: false
        })
    }
    
    //field validation float only
    $('.input-selector').on('keypress', function(e){
         return e.metaKey || // cmd/ctrl
        e.which <= 0 || // arrow keys
        e.which == 8 || // delete key
        /[0-9.]/.test(String.fromCharCode(e.which)); // numbers
    })

    $('#item_details').on('hidden.bs.modal', function () {
        $("#item_name").val('');
        $("#item_price").val('');
        $("#unit_per_item").val('');
        $("#description").val('');
    })

    function generateButtons(status){
        var buttons;
        if(!status)
        {
            buttons = `
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary edit"><span class="fa fa-pen"></span> Edit</button>
                    <button type="button" class="btn btn-secondary delete"><span class="fa fa-times"></span> Remove</button>
                </div>
            `;
        }
        else{
            buttons = `
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary restore"><span class="fa fa-recycle"></span> Restore</button>
                </div>
            `;
        }
        return buttons;
    }

    function generateRadio(id, status){
        var radio;
        if(status === true){
            radio = `
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label id="option_label1`+id+`" class="btn btn-secondary active">
                        <input class="active_btn" type="radio" name="options" id="option1`+id+`" autocomplete="off" checked=""> Active
                    </label>
                    <label id="option_label2`+id+`" class="btn btn-secondary">
                        <input class="inactive_btn" type="radio" name="options" id="option2`+id+`" autocomplete="off"> Inactive
                    </label>
                </div>
            `;
        }   
        if(status === false){
            radio = `
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label id="option_label1`+id+`" class="btn btn-secondary">
                        <input class="active_btn" type="radio" name="options" id="option1`+id+`"" autocomplete="off"> Active
                    </label>
                    <label id="option_label2`+id+`" class="btn btn-secondary active">
                        <input id="option2`+id+`" class="inactive_btn" type="radio" name="options" id="option2`+id+`" autocomplete="off" checked=""> Inactive
                    </label>
                </div>
            `;
        }
        return radio;
    }

    function confirmQuestion(){
        if (parseInt($("#question_type").val()) === 0){
            removeItem()
        }
        if (parseInt($("#question_type").val()) === 1){
            restoreItem()
        }
        return false;
    }

    function recordStatus(id)
    {
        if ($('#option_label1'+id).hasClass('active')){
            return true;
        }
        else{
            return false;
        }
    }

    function changeActiveStatus(id, status){
        $.ajax({
            url: "{% url 'inventory:change_status' %}",
            type: "POST",
            dataType:"json",
            cache: "false",
            data:{
                csrfmiddlewaretoken: '{{ csrf_token }}',
                id: id,
                status: status
            },
            success: function(response) 
            {
                table.ajax.reload()
            }
        });
    }
    function restoreItem(){
        $.ajax({
            url: "{% url 'inventory:restore_item' %}",
            type: "POST",
            dataType:"json",
            cache: "false",
            data:$("#delete_form").serialize(),
            success: function(response) 
            {
                $('#question').modal('hide');
                $("#question_id").val('');
                $("#question_type").val('');
                table.ajax.reload();
            }
        });
        
    }

    function removeItem(){
        $.ajax({
            url: "{% url 'inventory:remove_item' %}",
            type: "POST",
            dataType:"json",
            cache: "false",
            data:$("#delete_form").serialize(),
            success: function(response) 
            {
                $('#question').modal('hide');
                $("#question_id").val('');
                $("#question_type").val('');
                table.ajax.reload();
            }
        });
        
    }
    function save(){ //modal save
        if (!$("#unit_per_item").val().trim().length){
            $("#unit_per_item").val('')
        }
        if (!$("#item_name").val().trim().length){
            $("#item_name").val('')
        }
        $.ajax({
            url: "{% url 'inventory:save_item' %}",
            type: "POST",
            dataType:"json",
            cache: "false",
            data:$("#detail_form").serialize(),
            success: function(response) 
            {
                // alert(response);
                table.ajax.reload()
                $('#item_details').modal('hide');
            }
        });
        return false;
    }

    $(document).ready(function ()
    {
        table = $('#inventory_table').DataTable( 
        {
            "searching": true,
            "paging": true,
            "processing": true,
            "serverSide": true,
            "select": false,
            "bSortable": false,
            "autoWidth": false,
            "info": true,
            "ajax": 
                    {
                        url: "{% url 'inventory:load_inventory' %}",
                        type: "post",
                        cached: false,
                        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
                    },
            "columnDefs": [
                { "visible": false, "targets": 0 },
                {"className": "dt-center", "targets": [-1,-2]}
            ],
            "rowCallback": function(row, data){
                active_status[data[0]] = data[6];

                $('td:eq(6)', row).html(generateButtons(data[7]));
                $('td:eq(5)', row).html(generateRadio(data[0], data[6]));
            }
                        
        });
        table.on('click', '.edit', function (e) { //edit row
            let data = table.row(e.target.closest('tr')).data();
            $("#id").val(data[0]);
            $("#item_name").val(data[1]);
            $("#item_price").val(data[2]);
            $("#unit_per_item").val(data[3]);
            $("#description").val(data[5]);
            $('#item_details').modal('show');
            
        });
        table.on('click', '.delete', function (e) { //delete row
            let data = table.row(e.target.closest('tr')).data();
            $("#question_id").val(data[0]);
            $("#question_type").val(0);//remove
            $("#question_body").html(`Are you sure you want to remove the item <strong><span id="item-del-name"></span></strong>?`);
            $('#question').modal('show');
        });
        table.on('click', '.restore', function (e) { //delete row
            let data = table.row(e.target.closest('tr')).data();
            $("#question_id").val(data[0]);
            $("#question_type").val(1); //restore
            $("#question_body").html(`Are you sure you want to restore the item <strong><span id="item-del-name"></span></strong>?`);
            $('#question').modal('show');
        });
        
        table.on('change', '.active_btn', function (e) { //set row to active
            let data = table.row(e.target.closest('tr')).data();
            var is_active = recordStatus(data[0]);
            if(is_active !== active_status[data[0]]){
                changeActiveStatus(data[0], true);
            }
        });

        table.on('change', '.inactive_btn', function (e) { //set row to inactive
            let data = table.row(e.target.closest('tr')).data();
            var is_active = recordStatus(data[0]);
            if(is_active !== active_status[data[0]]){
                changeActiveStatus(data[0], false);
            }
        });

    });
    </script>
{% endblock %}